.tile{
    background-color: white;
    height: 50px;
    width: 190px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.tile:hover{
    transform: scale(1.1);
}
.tile_name{
    color: black;
    font-size:small;
    padding: 10%;
}