.main{
    width:100%;
    margin-left:5px;
}
.img {
    width: 500px; /* Set the width */
    height: 500px; /* Set the height */
    transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin-left: 20px;
  }
.contentSection{
    display: flex;
    justify-content:space-around;
    
}
.img:hover{
    transform: scale(1.1);
}
.detailsSection{
    margin-left:10px;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    margin-left: 30px;
}